:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body{
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Lato', cursive;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue) !important;
}
.text-bright{
  color: var(--lightBlue) !important;
}
.btn-black{
  background: transparent;
  text-transform: uppercase;
  font-size: 0.8rem;
  color:var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}